<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LATIHAN.My.MySettings.penjualan_barangConnectionString"
            connectionString="Data Source=DESKTOP-U0L3NF7\SQLEXPRESS;Initial Catalog=penjualan_barang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>